@using Microsoft.AspNetCore.Identity
@using RegistraceOvcina.Web.Data

@inject SignInManager<ApplicationUser> SignInManager

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <NavLink class="nav-link" href="/Account/Manage" Match="NavLinkMatch.All" data-enhance-nav="false">Profile</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/Account/Manage/Email" data-enhance-nav="false">Email</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/Account/Manage/ChangePassword" data-enhance-nav="false">Password</NavLink>
    </li>
    @if (hasExternalLogins)
    {
        <li class="nav-item">
            <NavLink class="nav-link" href="/Account/Manage/ExternalLogins" data-enhance-nav="false">External logins</NavLink>
        </li>
    }
    <li class="nav-item">
        <NavLink class="nav-link" href="/Account/Manage/TwoFactorAuthentication" data-enhance-nav="false">Two-factor authentication</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/Account/Manage/Passkeys" data-enhance-nav="false">Passkeys</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/Account/Manage/PersonalData" data-enhance-nav="false">Personal data</NavLink>
    </li>
</ul>

@code {
    private bool hasExternalLogins;

    protected override async Task OnInitializedAsync()
    {
        hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    }
}
